.next
node_modules
.env
.wrangler
payload.db
dist
coverage
public/imported-media
public/template-api-img
check_*.png
home-check*.png
local-home*.png
original-home*.png
test.env
*.log
wrangler.toml

.vercel
.env*.local
