PAYLOAD_SECRET=change-me-to-a-long-random-string
DATABASE_URI=file:./payload.db
DATABASE_URL=
POSTGRES_URL=
NEXT_PUBLIC_SERVER_URL=http://127.0.0.1:3000
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_DATABASE=yyanhub
UPLOAD_SOURCE_DIR=E:/EasyLink/yyanhub/信息站-WP/yyanhub/image/upload
